@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("/public/sfondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.form-box {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
nav {
    background-color: #fef7ed;
}

.cover .button-container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow under the button */
}
